.venv/
__pycache__/
.pytest_cache/
artifacts/**
logs/**
*.pt
*.h5
*.png
*.npy
.DS_Store
eval/val_common.py
eval/synth_loader.py
.USTC-TFC2016_malware/

*.pyc

# Training artifacts & logs
artifacts/
reports/
logs/
tensorboard/

# Datasets / large arrays
data/
*.npz
*.csv

# Model weights / checkpoints
*.weights.h5
*.ckpt*
*.tfrecord

# Notebooks checkpoints
.ipynb_checkpoints/